/* styles/SemiCircleProgress.css */

.semi-circle-svg {
  transition: stroke-dashoffset 0.5s ease;
}

.semi-circle-text {
  text-anchor: middle;
  dominant-baseline: middle;
  font-weight: bold;
}

.semi-circle-percent {
  font-size: 0.875rem; /* Use a consistent font size */
  fill: #04001b; /* Default stroke color */
}

.semi-circle-axis-text {
  font-size: 0.625rem; /* font-size: 10px */
  fill: #666;
}

